#container {
    display: flex;
    flex-wrap: wrap;
    
    }

#container:hover {
    background-color: white;
}

.square {
    background-color: black;
    height: 40px;
    border: 1px solid white;
}

